# 操作系统垃圾文件
Thumbs.db
Desktop.ini
.DS_Store

# 编译日志与备份
*.log
*.bak

# Keil 用户级状态
*.uvguix.*

# 两端的编译产物
**/build/
**/managed_components/
**/MDK-ARM/BloomcareGreenhouse/
**/MDK-ARM/Objects/
**/MDK-ARM/Listings/
**/MDK-ARM/DebugConfig/
**/MDK-ARM/RTE/
